body, html{padding: 0; height: 100%; width: 100%; box-sizing: border-box;}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/wallpaper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#container{
    width: 25%;
    height: 70%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 1fr);
    filter: opacity(90%);
}

#display, #container button{
    font-size: 1.2em;
}

#display{
    grid-area: 1/1/4/5;
    background-color: #08082E;
    color: white;
    border-radius: 19px 19px 0 0;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10%;
    font-size: 1vw;
}

#container button{
    grid-area: span 2;
    border: none;
}

#container button:hover{
    filter: brightness(80%);
    transition: filter .1s ease;
}

#container button:nth-child(18){
    border-radius: 0 0 0 19px;
}

#container button:nth-child(2){
    background-color: #d46e6e;
}

#container button:last-child{
    background-color: #4FCAD5;
    border-radius: 0 0 19px 0;
}

#container button:active{
    filter: brightness(60%);
    transition: filter .1s ease;
}